= simple_form_for(@alert) do |f|
  = f.error_notification

  .form-inputs
    = f.input :action_type, collection: ['SMS', 'Email'], default: ['SMS']

    = f.input :threshold, :input_html => {:value=> "50"}, :hint => 'If our confidence that the post was hacked is above this value, the alert will be sent.'
    = f.input :data

    = link_to 'Back', "/tweets", :class => 'btn btn-warning btn-large'
    = f.button :submit, :class => 'btn btn-info btn-large'