= simple_form_for(@alert) do |f|
  = f.error_notification

  .form-inputs
    = f.input :action_type, collection: Alert.valid_types, default: ['SMS']
    = f.input :data
    .control-ground
      %label
        Alert Threshold at
        %span#slideVal
        ="%"
      = f.range_field :threshold, :label=> " something ", :min=>0, :max=>100, :class=>"slide", :id=>"slider", :input_html => {:value=> "50"}
      .help-block
        If our confidence that the post was hacked is above this value, the alert will be sent.
    = link_to 'Back', "/tweets", :class => 'btn btn-warning btn-large'
    = f.button :submit, :class => 'btn btn-info btn-large'
